<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".GharBatoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GharBato">
        <activity
            android:name=".view.ReportedUsersActivity"
            android:exported="true"
            android:label="@string/title_activity_reported_users"
            android:theme="@style/Theme.GharBato">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ReportedPropertiesActivity"
            android:exported="true"
            android:label="@string/title_activity_reported_properties"
            android:theme="@style/Theme.GharBato">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.PendingListingsActivity"
            android:exported="true"
            android:label="@string/title_activity_pending_listing"
            android:theme="@style/Theme.GharBato">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AdminActivity"
            android:exported="true"
            android:label="@string/title_activity_admin"
            android:theme="@style/Theme.GharBato">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LocationPickerActivity"
            android:exported="false"
            android:label="@string/title_activity_location_picker"
            android:theme="@style/Theme.GharBato" />
        <activity
            android:name=".ui.view.FullMapActivity"
            android:exported="true"
            android:label="@string/title_activity_full_map"
            android:theme="@style/Theme.GharBato">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Google Maps API Key - Using direct value -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDTQKHcwwRuOHGOt-fPlvu4Mm2baO3pcMs" />

        <activity
            android:name=".view.PropertyDetailActivity"
            android:exported="true"
            android:label="@string/title_activity_property_detail"
            android:theme="@style/Theme.GharBato">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.FullSearchMapActivity"
            android:exported="true"
            android:label="FullSearchMapActivity"
            android:theme="@style/Theme.GharBato">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ListingActivity"
            android:exported="true"
            android:label="@string/title_activity_listing"
            android:theme="@style/Theme.GharBato">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.GharBato">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MessageScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MessageDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.GharBato">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ZegoCallActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.GharBato" />
        <activity
            android:name=".view.FloatingCallActivity"
            android:exported="false"
            android:theme="@style/Theme.GharBato" />
        <activity
            android:name=".view.MapLocationPickerActivity"
            android:exported="true"
            android:theme="@style/Theme.GharBato"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ForgotActivity"
            android:exported="true"
            android:theme="@style/Theme.GharBato" />
        <activity
            android:name=".view.MyActivitiesActivity"
            android:exported="true"
            android:theme="@style/Theme.GharBato" />
        <activity
            android:name=".view.DashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.GharBato" />
        <activity
            android:name=".view.NotificationActivity"
            android:exported="true"
            android:theme="@style/Theme.GharBato" />
        <activity
            android:name=".view.ApplicationSettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.GharBato" />
        <activity
            android:name=".view.SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.GharBato" />
        <activity
            android:name=".view.ContactUsActivity"
            android:exported="true"
            android:theme="@style/Theme.GharBato" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.GharBato" />
        <activity
            android:name=".view.HelpCenterActivity"
            android:exported="true"
            android:label="Help Center"
            android:theme="@style/Theme.GharBato" />
        <activity
            android:name=".view.TermsAndPoliciesActivity"
            android:exported="true"
            android:label="Help Center"
            android:theme="@style/Theme.GharBato" />
        <activity
            android:name=".view.TrustAndVerificationActivity"
            android:exported="true"
            android:theme="@style/Theme.GharBato" />
        <activity
            android:name=".view.NotificationActivity"
            android:exported="true"
            android:theme="@style/Theme.GharBato" />

        <activity android:name=".view.GeminiChatActivity" />

        <activity
            android:name=".view.EditProfileActivity"
            android:exported="true"
            android:label="Edit Profile"
            android:theme="@style/Theme.GharBato" />

        <activity
            android:name=".view.EmailVerificationActivity"
            android:exported="true"
            android:label="Email Verify"
            android:theme="@style/Theme.GharBato" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
